**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.md
**/*.user
**/*.suo
**/Dockerfile*
**/docker-compose*
**/.idea
**/.idea
**/wwwroot/dist
**/npm-debug.log
**/yarn-error.log